@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: 255 255 255;
  --foreground: 37 37 37;
  --card: 255 255 255;
  --card-foreground: 37 37 37;
  --popover: 255 255 255;
  --popover-foreground: 37 37 37;
  --primary: 52 52 52;
  --primary-foreground: 251 251 251;
  --secondary: 247 247 247;
  --secondary-foreground: 52 52 52;
  --muted: 247 247 247;
  --muted-foreground: 142 142 142;
  --accent: 247 247 247;
  --accent-foreground: 52 52 52;
  --destructive: 239 68 68;
  --border: 235 235 235;
  --input: 235 235 235;
  --ring: 180 180 180;
  --chart-1: 231 111 81;
  --chart-2: 42 157 143;
  --chart-3: 38 70 83;
  --chart-4: 233 196 106;
  --chart-5: 244 162 97;
  --sidebar: 251 251 251;
  --sidebar-foreground: 37 37 37;
  --sidebar-primary: 52 52 52;
  --sidebar-primary-foreground: 251 251 251;
  --sidebar-accent: 247 247 247;
  --sidebar-accent-foreground: 52 52 52;
  --sidebar-border: 235 235 235;
  --sidebar-ring: 180 180 180;
}

.dark {
  --background: 37 37 37;
  --foreground: 251 251 251;
  --card: 52 52 52;
  --card-foreground: 251 251 251;
  --popover: 52 52 52;
  --popover-foreground: 251 251 251;
  --primary: 235 235 235;
  --primary-foreground: 52 52 52;
  --secondary: 68 68 68;
  --secondary-foreground: 251 251 251;
  --muted: 68 68 68;
  --muted-foreground: 180 180 180;
  --accent: 68 68 68;
  --accent-foreground: 251 251 251;
  --destructive: 239 68 68;
  --border: 255 255 255 / 0.1;
  --input: 255 255 255 / 0.15;
  --ring: 142 142 142;
  --chart-1: 38 70 83;
  --chart-2: 42 157 143;
  --chart-3: 233 196 106;
  --chart-4: 244 162 97;
  --chart-5: 231 111 81;
  --sidebar: 52 52 52;
  --sidebar-foreground: 251 251 251;
  --sidebar-primary: 38 70 83;
  --sidebar-primary-foreground: 251 251 251;
  --sidebar-accent: 68 68 68;
  --sidebar-accent-foreground: 251 251 251;
  --sidebar-border: 255 255 255 / 0.1;
  --sidebar-ring: 142 142 142;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}